#ratings {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  height: 40px;
}

.star {
    background-image: url(/assets/images/EmptyStar.png);
    float: right;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size:32px 32px;
    background-repeat: no-repeat;
}

#current-rating {
    text-align:center;
    width: 100px;
    height:32px;
    font-size:14px;
    display: inline-block;
    color: #8e8e8e;
    font-weight: bold;
    border-radius: 8px;
}
/*
.star:hover {
    background-image: url(/assets/images/FullStar.png);
}*/

/*#star-one:hover {
    background-image: url(/assets/images/FullStar.png);
}*/

#star-1:hover {
  background-image: url(/assets/images/FullStar.png);
}

#star-1:hover ~ #star-2{
  background-image: url(/assets/images/FullStar.png);
}

#star-1:hover ~ #star-3{
  background-image: url(/assets/images/FullStar.png);
}

#star-1:hover ~ #star-4{
  background-image: url(/assets/images/FullStar.png);
}

#star-1:hover ~ #star-5{
  background-image: url(/assets/images/FullStar.png);
}


#star-2:hover {
  background-image: url(/assets/images/FullStar.png);
}

#star-2:hover ~ #star-3{
  background-image: url(/assets/images/FullStar.png);
}

#star-2:hover ~ #star-4{
  background-image: url(/assets/images/FullStar.png);
}

#star-2:hover ~ #star-5{
  background-image: url(/assets/images/FullStar.png);
}


#star-3:hover {
  background-image: url(/assets/images/FullStar.png);
}

#star-3:hover ~ #star-4{
  background-image: url(/assets/images/FullStar.png);
}

#star-3:hover ~ #star-5{
  background-image: url(/assets/images/FullStar.png);
}

#star-4:hover {
  background-image: url(/assets/images/FullStar.png);
}

#star-4:hover ~ #star-5{
  background-image: url(/assets/images/FullStar.png);
}

#star-5:hover {
  background-image: url(/assets/images/FullStar.png);
}


