<!DOCTYPE HTML>
{{define "folders"}}
<html>
  <head>
    <title>Folders</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  </head>

  <body>

    <div id="folder-window">
     <div id="1"> Parent Folder 1 </div>
       <div id="1-content">
       </div>
     <div id="2"> Parent Folder 2 </div>
    </div>

    <script src="./assets/js/folders.js">
    </script>
  </body>
</html>
{{end}}
