<!DOCTYPE HTML>
{{define "folders"}}
<html>
  <head>
    <title>Folders</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

      <link rel="stylesheet" href="/assets/css/main.css" />
      <link rel="stylesheet" href="/assets/css/folders.css" />
  </head>

  <body>
    <button id="test-button"> </button>

    <div id="folder-window">
     <div id="1" class="folder"> Parent Folder 1 </div>
       <div id="1-content" class="content">
       </div>
     <div id="2" class="folder"> Parent Folder 2 </div>
    </div>

  </body>

  <script src="./assets/js/folders.js"></script>
</html>
{{end}}
