
<!DOCTYPE html>
{{define "profile-settings"}}
<html lang="en">
<head>
    <title>profile-settings</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/profile-settings.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link  href="/assets/css/cropper.css" rel="stylesheet">
    <script>
    </script>
    </head>
<body>
{{ template "header" .}}

<div class="profile-settings">
  <div class="row">
    <!-- edit form column -->
    <div class= "change-avatar">
      <h3>Avatar Image:</h3>
      <div class="modal-body">
        <div class="crop-container"><canvas id="js-cropper-canvas"></canvas></div>
        <div class="js-crop-controls">
          <button id="js-crop-rotate" class="purple-btn" value="0">Rotate</button>
          <span class="cropper-zoom">
            <svg>
              <use xlink:href="#svg-thumbnail"></use>
            </svg>
            <input type="range" id="js-crop-zoom" min="0.0" max="5.0" step="0.01" value="1" autocomplete="off">
            <svg>
              <use xlink:href="#svg-thumbnail"></use>
            </svg>
          </span>
          <div></div>
        </div>
        <div class="cropper-button-container button-container">
          <label for="js-cropper-input" class="js-cropper-filename cropper-image-filename">No File Chosen...</label>
           <label for="js-cropper-input" class="button blue-btn">
            Browse
          </label>
        </div>
      </div>
      <form data-form_type="avatar" id="edit-avatar-form" class="js-cropper-form js-form" action="/editprofileavatar" method="POST" enctype="multipart/form-data">
          <div id="avatar-info">
              <div class="button-container">
                  <input id="js-cropper-input" class="avatar-image" name="avatar" type="file"
                  accept=".jpg,.png,.jpeg" alt="Picture">
                  <input id="js-posx" type="hidden" name="posx" value="0">
                  <input id="js-posy" type="hidden" name="posy" value="0">
                  <input id="js-cropwidth" type="hidden" name="cropwidth" value="0">
                  <input id="js-cropheight" type="hidden" name="cropheight" value="0">
                  <input id="js-degrees" type="hidden" name="degrees" value="0">
                  <input id="js-cropper-submit" type="submit">
              </div>
          </div>
      </form>
</div>

      <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
	    <!-- <div class="for1">
		  <h6>Upload a different photo...</h6>
		  <input type="file" name="avatar" accept=".jpg,.png,.jpeg" class="text-center center-block well well-sm">
        </div> -->
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{.User.First}}" name="first" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{.User.Last}}" name="last" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Bio:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{.User.Bio}}" name="bio" type="text">
          </div>
        </div>
         <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="button1" value="Save Changes" type="submit">
            <span></span>
            <input class="button2" value="Cancel" type="reset" onClick="javascript:location.href = '/profile/{{.User.IntID}}';">
          </div>
        </div>
      </form>
    </div>
  </div>

    </body>
<script src="/assets/js/cropper.js"></script>
</html>
{{end}}
