<!doctype html>
{{define "viewNote"}}
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.1.5/quill.min.js"></script>
<link rel="stylesheet" href="/assets/css/main.css"/>

<!-- Theme included stylesheets -->

<head>
<link href="/assets/css/documentviewcore.css" rel="stylesheet">
<link href="/assets/css/documentviewsnow.css" rel="stylesheet">
<link href="/assets/css/documentviewbubble.css" rel="stylesheet">

<link href="/assets/css/ratings.css" rel="stylesheet">

<script src="//cdn.quilljs.com/1.1.5/quill.core.js"></script>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
</head>
{{ template "header" .HeaderData}}
<body>
<div id="profile">
  {{ if .Owner.Avatar }}
  <label id="user-picture">{{ template "user-avatar" .Owner}}</label>
  {{ else }}
  <label id="user-picture" class="fa fa-user"></label>
  {{ end }}
  <div id="doctitle">
  {{.Title}}
  </div>
  {{$mod := (getMod (toInt .User.IntID))}}
  <span class="logo">{{template "pencil" $mod}}</span>
<span>Created by: <a href = "/profile/{{.Owner.IntID}}">{{.Owner.First}} {{.Owner.Last}} </a></span>
{{if (canEdit .NoteData .User)}}
<div id="edit">
  <a id="left" href="/edit/{{.Notekey}}">Edit Note</a>
  <span></span>
  <a id="right" href="/backup/{{.Notekey}}?TargetEmail={{.User.Email}}">View History</a>
 </div>

<div id="ratings">

  <div id="savecopy" onclick="copyNote({{.Notekey}})" style="background-image:url(/assets/images/CopyIcon.png); height:32px; width: 32px; min-height:32px; min-width:32px; background-size: 32px 32px; display:inline-block;">
  </div>

  <div id="current-rating" noteid="{{.Notekey}}"> </div>

  <div id="star-1" class="star" onclick="clickStar(5,{{.Notekey}})"> </div>
  <div id="star-2" class="star" onclick="clickStar(4,{{.Notekey}})"> </div>
  <div id="star-3" class="star" onclick="clickStar(3,{{.Notekey}})"> </div>
  <div id="star-4" class="star" onclick="clickStar(2,{{.Notekey}})"> </div>
  <div id="star-5" class="star" onclick="clickStar(1,{{.Notekey}})"> </div>
</div>

<div class="box">
<div id="doctitle">
{{.Title}}
{{end}}
</div>

<div class="box">


{{.Content}}
</div>

<!-- Include Quill stylesheet -->

<link href="/assets/css/quill.bubble.css" rel="stylesheet">
<link href="/assets/css/quill.core.css" rel="stylesheet">
<link href="/assets/css/quill.snow.css" rel="stylesheet">


<form>
</body>
<!-- <div id =textbox>

<!-- Create the editor container -->
<!-- <input name="writingtext" type="hidden">
<input type = "text" name="title" value="Title" id="title">

<div id="editor">
  <p>Hello World!</p>
</div>

</form>


<div class="row">
	<input type="button" value = "YEEEEEAAAHHH" id = "clickMe">Save</input>
</div> -->




<!-- <form>
		<textarea name="editor1" id="editor1" rows="10" cols="80">
				This is my textarea to be replaced with CKEditor.
		</textarea>
		<script>
				// Replace the <textarea id="editor1"> with a CKEditor
				// instance, using default configuration.
				CKEDITOR.replace( 'editor1' );
		</script>
</form> -->

<script src="../assets/js/ratings.js"></script>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>



<!-- subscribe button -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
var isSubscribed = {{.Subscribed}};

var changeSubscription = function(){
if(isSubscribed){
  $(".logo svg#pencil").css("animation", "spin 1s ease-in-out infinite")
  $(".logo svg#pencil").css("animation-direction", "alternate")
} else {
  $(".logo svg#pencil").css("animation", "none")
}
}

changeSubscription()

$(".logo svg#pencil").click(function(){
  if(!isSubscribed){
  $.post('/note/api/subscribe', { NoteID : {{.Notekey}} }, function (data) {
    let dataObj = $.parseJSON(data)
    if(dataObj.success == true) {
        isSubscribed = !isSubscribed
        changeSubscription()

    }
  })
}else{
  $.post('/note/api/unsubscribe', { NoteID : {{.Notekey}} }, function (data) {
    let dataObj = $.parseJSON(data)
    if(dataObj.success == true) {
        isSubscribed = !isSubscribed
        changeSubscription()
    }
  })
}

})

var copyNote = function (noteId) {
    $.post('/note/api/copynote', { NoteID: noteId }, function (data) {
      let dataObj = $.parseJSON(data);
      console.log(dataObj);
      if(dataObj.success == true) {
        console.log("note-copied");
        document.getElementById("savecopy").style.backgroundImage = "url(/assets/images/CheckmarkIcon.png)";
      }
      else {
        if (dataObj.code == 0) {
          console.log("An error has occured.");
        }
        if (dataObj.code == 1) {
          console.log("A database error has occured.");
        }
      }
    }).fail(function () {
      console.log("Post request failed.");
    });
};
</script>

{{end}}
